[Desktop Entry]
Version=1.0
Type=Application
Name=Crazyflie client
Comment=
Exec=python3 -m cfclient.gui
Icon=/home/nokov/projects/crazyflie-clients-python/icon-256.icns
Path=/home/nokov/projects/crazyflie-clients-python/
Terminal=true
StartupNotify=false
